<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="debug">
    <!-- Секция аппендеров -->
    <Appenders>

        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{ABSOLUTE} [%-5p][%-15.15t][%23.23c] - %m%n"/>
        </Console>

        <!-- Файловый аппендер -->
        <RollingFile  name="file" fileName="log.log"  filePattern="log-%d{MM-dd-yyyy}-%i.log" >
            <PatternLayout>
                <Pattern>%d{ABSOLUTE} [%-5p][%-15.15t][%23.23c] - %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="1 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>

    </Appenders>


    <!-- Секция логгеров -->
    <Loggers>
        <!-- Корневой логгер -->
        <Root level="TRACE">
            <AppenderRef ref="file"/>
        </Root>

        <!-- Логгер нашего класса  -->
        <!--<Logger name="gr.ru" level="info" additivity="false">-->
        <Logger name="gr.ru" level="TRACE"  >
            <AppenderRef ref="Console" level="INFO"/>
        </Logger>
    </Loggers>
</Configuration>